node_modules/
coverage/
tmp/
logs/
.vscode/
TODO

src/
test/
exp/

.editorconfig
.eslintrc.json
.versionrc
jest.config.js
tsconfig*.json
yarn-error.log
*.tsbuildinfo
nest-cli.json

.env
*.bak*

tests/__e1c-mocks__/*.epf
tests/__e1c-mocks__/*.erf
